.reservation-box {
    width: 100%;
    margin-top: 30px;
    border-bottom: 2px solid #ddd;
    border-left: 2px solid #ddd;
    border-right: 2px solid #ddd;
    border-top: 1px solid #000;
}
.re-calendar-bar {
    display: flex;
    border-bottom: 1px solid #ddd;
}
.re-calendar-bar > div:last-child {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
}
.re-movie-tab,
.re-theater-tab,
.re-time-tab {
    display: flex;
    list-style: none;
}
.re-movie-tab > li,
.re-theater-tab > li {
    border-bottom: 1px solid #000;
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    text-align: center;
    padding: 5px 0;
    font-size: 15px;
}
.re-movie-tab > li.active,
.re-theater-tab > li.active {
    border-bottom: none;
    border-top: 1px solid #000;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
}
.re-movie-tab > li {
    width: 120px;
}
.re-theater-tab > li {
    width: 160px;
}
.re-movie,
.re-theater {
    height: 315px;
    overflow-y: scroll;
    cursor: pointer;
    padding-top: 20px;
}
.re-movie > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 15px;
}
.re-movie > div > div {
    display: flex;
    padding: 4px 0 4px 10px;
    align-items: center;
}
.re-movie-title {
    font-size: 14px;
    margin-left: 5px;
}
.re-movie-box,
.select-movie-box,
.select-theater-box {
    height: 90px;
    display: flex;
    margin: 10px 10px;
    font-size: 15px;
    color: #595959;
}
.re-movie-box {
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 2px solid #eee;
}
.select-movie-box {
    justify-content: space-around;
}
.re-theater {
    display: flex;
}
.re-theater > div {
    width: 160px;
}
.re-theater > div:first-child {
    border-right: 1px solid #eee;
}
.re-theater > div:nth-child(2) {
    /*padding: 0 10px;*/
    overflow-y: scroll;
}
.re-theater > div > p {
    font-size: 14px;
    padding: 5px 10px;
    cursor: pointer;
}
.re-time-tab > li {
    padding: 0 10px;
}
.re-font {
    padding: 5px;
}
.re-time-line {
    display: flex;
    padding: 5px 18px;
    width: 100%;
    justify-content: space-around;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}
.re-time-line-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 450px;
    text-align: center;
    font-size: 15px;
    color: #595959;
}
.re-time-line-text {
    margin-top: 10px;
    margin-bottom: 5px;
}
.re-bottom-box {
    display: flex;
}
.re-bottom-box > div {
    padding: 8px 15px 8px 15px;
    border-right: 2px solid #eee;
}
.re-bottom-box > div:last-child {
    border-right: none;
    padding: 0;
}
.re-time-line-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.re-time-line-title > p {
    padding-top: 8px;
    padding-left: 15px;
}
.re-bottom-box > div > p,
.re-time-line-title {
    font-size: 18px;
    margin-bottom: 8px;
}
.re-time-line-title > div > span {
    font-size: 13px;
    margin-left: 3px;
    margin-right: 5px;
}
.re-time-line-title > div {
    margin-top: 5px;
}
.re-time-line-title > div > span:last-child {
    margin-right: 0;
}
.back-grey {
    background-color: #ddd;
}
.click {
    background-color: #595959;
    color: #fff;
}
.opacity {
    opacity: 50%;
}
.select-movies {
    border: 1px solid #eee;
    width: 60px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.select-movies > span {
    font-size: 25px;
    color: #ddd;
}
.select-movies:last-child {
    margin-right: 0;
}
.select-theaters {
    width: 70px;
    border: 1px solid #eee;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    padding: 10px;
    position: relative;
    margin-right: 15px;
}
.select-theaters:last-child {
    margin-right: 0;
}
.select-theaters > span {
    font-size: 30px;
    font-weight: lighter;
}
.background-eee {
    background-color: #eee;
}
.theater-x {
    position: absolute;
    top: 0;
    right: 0;
    width: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid #eee;
    background-color: #fff;
    font-size: 20px;
    color: #aaaaaa;
}
/*.horizontal-calendar {*/
/*    width: calc(100% - 50px) !important;*/
/*    height: 40px;*/
/*}*/
/*.horizontal-calendar .date-list {*/
/*    height: 40px;*/
/*}*/
/*.horizontal-calendar .date-item {*/
/*    width: 70px !important;*/
/*    height: 40px !important;*/
/*    border-right: none !important;*/
/*}*/
/*.horizontal-calendar .choosed-day .date-item-date {*/
/*    color: #000 !important;*/
/*}*/
/*.horizontal-calendar .choosed-day .date-item-day {*/
/*    color: #999 !important;*/
/*}*/
/*.date-item > div {*/
/*    display: flex;*/
/*    flex-direction: row-reverse;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    height: 100%;*/
/*}*/
/*.horizontal-calendar .choosed-day {*/
/*    border-bottom: 2px solid #483d8b !important;*/
/*}*/
/*.horizontal-calendar .left-arrow,*/
/*.horizontal-calendar .right-arrow {*/
/*    line-height: 40px !important;*/
/*    background-color: #fff !important;*/
/*    border-left: none !important;*/
/*}*/
/*.horizontal-calendar .left-arrow {*/
/*    border-right: none !important;*/
/*}*/
/*.horizontal-calendar .right-arrow {*/
/*    padding-right: 15px !important;*/
/*    width: 40px !important;*/
/*    padding-left: 2px !important;*/
/*}*/
/*.horizontal-calendar .first-day {*/
/*    background: none !important;*/
/*    width: 50px !important;*/
/*    top: -10px !important;*/
/*}*/
/*.horizontal-calendar .first-day p {*/
/*    color: #000 !important;*/
/*    font-size: 15px !important;*/
/*}*/
/*.blue {*/
/*    color: #2750f5 !important;*/
/*}*/
/*.red {*/
/*    color: #f70d05 !important;*/
/*}*/
.calendar {
    width: 1050px;
    display: flex;
    align-items: center;
}
.calendar > div {
    width: 1470px;
}
.horizontal-calendar {
    width: 100%;
    height: 40px;
    overflow-x: hidden;
}
.horizontal-calendar > div {
    width: 70px;
    height: 40px;
    float: left;
    text-align: center;
    padding-top: 10px;
}
.horizontal-calendar > div > span:first-child {
    font-size: 17px;
}
.horizontal-calendar > div > span:last-child {
    font-size: 14px;
}
.horizontal-calendar::after {
    content: '';
    clear: both;
    display: block;
}
.ca-left-arrow {
    padding-left: 5px;
    padding-right: 10px;
}
.ca-right-arrow {
    padding-right: 20px;
    padding-left: 5px;
    height: 40px;
    border-right: 1px solid #eee;
}
.blue {
    color: #2750f5;
}
.red {
    color: #f70d05;
}
.horizontal-calendar > div > span:nth-child(2) {
    font-size: 15px;
    padding: 0 2px;
}